*, *:before, *:after
    box-sizing: border-box
html
    font-size: 14px
body
    font-family: 'Futura Book', sans-serif
    font-size: 1rem
img
    max-width: 100%
.section
    padding: 60px 0
    &-title
        text-align: center
        text-transform: uppercase
        font-family: 'Yeseva One', cursive
        &__image
            display: flex
            justify-content: center
            align-items: center
            &::after, &::before
                content: ''
                margin: 0 10px
                width: 32px
                height: 2px
                background-color: $primary
        &__description
            max-width: 52.92rem
            margin: 0 auto
            font-family: 'Futura BookC', sans-serif
            font-size: 1rem
            line-height: 1.9rem
